body {
  padding:10px 10px 10px 10px;
	font-size: 1.6rem;
    background-color: #ffd;
    overflow: auto;
	margin: 0;
}

pre{
    background-color: #E6E6FA;
    overflow: auto;
}   

img {
    max-width: 100%;
    max-height: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    display: inline;
    font-size: 2.0rem;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

h1, .h1 {
    font-weight: bold;
    display: inline;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
