<div class="navbar container">
    <!-- Search bar -->
    <!--
    <a id="author-name" class="alignable pull-left" href="{{ site.baseurl }}">
        {{ site.title }}
    </a>
    -->
</div>

<div class="dropup">
  <button class="dropbtn">MENU</button>
  <div class="dropup-content">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.image_baseurl }}/home.png" alt="Home" width="50" height="50">
        </a>
    {% for x in site.nav %}
        <a href="{{ site.baseurl }}/{{ x.link }}">
            <img src="{{ site.image_baseurl }}/{{ x.name }}.png" alt="{{ x.name }}" width="50" height="50">
        </a>
    {% endfor %}
  </div>
</div>
