<!doctype html>
<html>
    <head>
        <link rel="icon" href="/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="icon" href="/favicon/favicon-32x32.png" sizes="32x32">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" media="all" href="https://shlomo90.github.io/homepage.css" />
    </head>
    <body>
        {% include navi.html %}
        {{ content }}
    </body>
</html>
