<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="https://shlomo90.github.io/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" media="all" href="https://shlomo90.github.io/homepage.css" />
    </head>
    <body>
        {% include navi.html %}
        {{ content }}
    </body>
</html>
